<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Validation</strong> <small>Custom styles</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          For custom CoreUI form validation messages, you&#39;ll need to add the
          <code>noValidate</code> boolean property to your <code>&lt;CForm&gt;</code>. This
          disables the browser default feedback tooltips, but still provides access to the form
          validation APIs in JavaScript. Try to submit the form below; our JavaScript will
          intercept the submit button and relay feedback to you. When attempting to submit,
          you&#39;ll see the <code>:invalid</code> and <code>:valid</code> styles applied to
          your form controls.
        </p>
        <p class="text-body-secondary small">
          Custom feedback styles apply custom colors, borders, focus styles, and background
          icons to better communicate feedback.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Validation</strong> <small>Browser defaults</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Not interested in custom validation feedback messages or writing JavaScript to change
          form behaviors? All good, you can use the browser defaults. Try submitting the form
          below. Depending on your browser and OS, you&#39;ll see a slightly different style of
          feedback.
        </p>
        <p class="text-body-secondary small">
          While these feedback styles cannot be styled with CSS, you can still customize the
          feedback text through JavaScript.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Validation</strong> <small>Server side</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          We recommend using client-side validation, but in case you require server-side
          validation, you can indicate invalid and valid form fields with <code>invalid</code>
          and <code>valid</code> boolean properties.
        </p>
        <p class="text-body-secondary small">
          For invalid fields, ensure that the invalid feedback/error message is associated with
          the relevant form field using <code>aria-describedby</code> (noting that this
          attribute allows more than one <code>id</code> to be referenced, in case the field
          already points to additional form text).
        </p>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Validation</strong> <small>Supported elements</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Validation styles are available for the following form controls and components:
        </p>
        <ul [flush]="true" cListGroup class="mb-3">
          <li cListGroupItem>
            <code>&lt;input cFormControl&gt;</code>
          </li>
          <li cListGroupItem>
            <code>&lt;select cSelect&gt;</code>
          </li>
          <li cListGroupItem>
            <code>&lt;c-form-check&gt;</code>
          </li>
        </ul>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Validation</strong> <small>Tooltips</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          If your form layout allows it, you can swap the text for the tooltip to display
          validation feedback in a styled tooltip. Be sure to have a parent with
          <code>position: relative</code> on it for tooltip positioning. In the example below,
          our column classes have this already, but your project may require an alternative
          setup.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
