<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Alert</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Angular Alert is prepared for any length of text, as well as an optional close button.
          For a styling, use one of the <strong>required</strong> contextual <code>color</code>
          props (e.g., <code>primary</code>). For inline dismissal, use the
          <a href="https://coreui.io/angular/docs/4.0/components/alert#dismissing">
            dismissing prop
          </a>
          .
        </p>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Alert</strong> <small>solid variant</small>
      </c-card-header>
      <c-card-body>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Alert</strong> <small>Link color</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Use the <code>cAlertLink</code> directive to immediately give matching colored
          links inside any alert.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Alert</strong> <small>Additional content</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Alert can also incorporate supplementary components &amp; elements like heading,
          paragraph, and divider.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Alert</strong> <small>Icons</small>
      </c-card-header>
      <c-card-body>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Alert</strong> <small>Dismissing</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Alerts can also be easily dismissed. Just add the <code>dismissible</code> prop.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
