<div [formGroup]="formSave" class="align-items-center ">
    <h4 *ngIf="action==='CREATE'">Thiết lập thiết bị</h4>
    <h4 *ngIf="action==='UPDATE'">Cập nhật thiết bị</h4>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12 mt-3">
        <label class="form-label col-form-label"> Tên máy</label>
      </div>

      <div class="col-md-4 col-sm-8 col-xs-12 mt-3">
        <input class="form-control" formControlName="name" [class.is-invalid]="validField('name')" maxlength="500">
        <div *ngIf="validField('name')">
          <div *ngIf="showError('name', 'required')" class="error-message">
            Tên máy không được để trống.
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-12 mt-3">
        <label class="form-label col-form-label"> Địa điểm</label>
      </div>

      <div class="col-md-4 col-sm-8 col-xs-12 mt-3">
        <app-selection formControlName="location" [searchable]="true" [multiple]="false" [items]="locationList"></app-selection>
        <div *ngIf="validField('location')">
          <div *ngIf="showError('location', 'required')" class="error-message">
            Địa điểm không được để trống.
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12 mt-3">
        <label class="form-label col-form-label">Số lượng hàng tối đa</label>
      </div>

      <div class="col-md-4 col-sm-8 col-xs-12 mt-3">
        <input class="form-control" formControlName="slotAmount" [class.is-invalid]="validField('slotAmount')" appOnlyNumber maxlength="5">
        <div *ngIf="validField('slotAmount')">
          <div *ngIf="showError('slotAmount', 'required')" class="error-message">
            Số lượng hàng tối đa không được để trống.
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-12 mt-3">
        <label class="form-label col-form-label"> Phương thức thanh toán</label>
      </div>

      <div class="col-md-4 col-sm-8 col-xs-12 mt-3">
        <app-selection formControlName="paymentMethodIds" [searchable]="true" [multiple]="true" [items]="paymentMethodList"></app-selection>
        <div *ngIf="validField('paymentMethodIds')">
          <div *ngIf="showError('paymentMethodIds', 'required')" class="error-message">
            Phương thức thanh toán không được để trống.
          </div>
        </div>
      </div>
    </div>



  <div class="row mt-3">
    <div class="col-12 text-center" *ngIf="action==='CREATE'">
      <button type="button" class="btn btn-primary-custom ml-20" (click)="onCreate()"><i class="fa fa-plus"></i>
        Thiết lập
      </button>
    </div>

    <div class="col-12 text-center" *ngIf="action==='UPDATE'">
      <button type="button" class="btn btn-primary-custom ml-20" (click)="onUpdate()"><i class="fa fa-plus"></i>
        Cập nhật
      </button>

      <button type="button" class="btn btn-primary ml-20" (click)="onCopy()"><i class="fa fa-copy"></i>
        Sao chép
      </button>
    </div>
  </div>

</div>
