
.btn-login{
  background:  #ee0032;
  border:  #ee0032;
  width: 100%;
}

.btn-login:active{
  background: #c6251f;
  border:  #ee0032;
  color: white;
}
.background-red{
  background:  #ee0032;
}

.border-form {
  border: 1px solid rgba(198,37,31,0)!important;
  border-radius: 6px!important;
}


