<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <app-spinner></app-spinner>
    <form [formGroup]="loginForm">
      <c-row class="justify-content-center">
        <c-col lg="10" xl="8">
          <div class="svg-background">
            <img height="32" width="" src="assets/images/vt-doanh-nghiep.svg"/>
          </div>
          <c-card-group>
            <c-card  style="margin-right: 10px" [ngStyle]="{'minWidth.%': 44}" class="text-white py-5 background-red border-form">
              <c-card-body class="text-center">


                <div>
                  <h2>Hệ thống quản lý máy bán hàng tự động</h2>
                </div>

              </c-card-body>
            </c-card>

            <c-card class="p-4 border-form" style="margin-right: 10px">
              <c-card-body>
                <form cForm>
                  <h1>Đăng nhập</h1>
                  <div class="mb-3">
                    <c-input-group>
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                      <input class="form-control" formControlName="username" placeholder="Tên đăng nhập">
                    </c-input-group>
                    <div
                      *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                      <div *ngIf="loginForm.controls['username'].errors.required" class="error-message">
                        Tên đăng nhập không được để trống.
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <c-input-group>
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                      <input
                        class="form-control"
                        placeholder="Mật khẩu"
                        type="password"
                        formControlName="password"
                      />
                    </c-input-group>
                    <div
                      *ngIf="validField('password')">
                      <div *ngIf="loginForm.controls.password.errors?.required" class="error-message">
                        Mật khẩu không được để trống.
                      </div>
                      <div *ngIf="loginForm.controls.password.errors?.minlength" class="error-message">
                        Mật khẩu phải > 6 ký tự.
                      </div>
                    </div>
                  </div>
                  <c-row>
                    <c-col xs="12">
                      <button cButton class="px-4 btn-login"  (click)="login()">
                        Đăng nhập
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>




          </c-card-group>
        </c-col>
      </c-row>
    </form>
  </c-container>
</div>
