<nav aria-label="Page navigation" class="mt-3 pagination-custom">
  <div class="row align-items-center">
    <div class="col-6">
      <h6 >Hiển thị trang {{currentPage}}/{{totalPages}}</h6>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-10">
          <ul class="pagination justify-content-end">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link cursor-pointer"  (click)="setCurrentPage(1)" aria-label="Previous" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngIf="currentPage > 3">
              <span class="page-link">...</span>
            </li>
            <li class="page-item" *ngFor="let page of visiblePages">
              <a class="page-link cursor-pointer" (click)="setCurrentPage(page)"
                 aria-disabled="true"
                 [class.active]="currentPage === page">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages - 2">
              <span class="page-link">...</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link cursor-pointer" (click)="setCurrentPage(totalPages)" aria-label="Next" aria-disabled="true">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <div>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (change)="changeItemsPerPage($event)">
              <option value="{{option}}" *ngFor="let option of itemsPerPageOptions">{{option}}</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>
