<!--<h4>Cập nhật hàng hóa</h4>-->
<!--<div class="row mt-3">-->
<!--  <div class="col-md-2 col-sm-2 col-xs-6">-->
<!--    <label class="form-label"> Cây bán hàng</label>-->
<!--  </div>-->
<!--  <div class="col-md-2 col-sm-2 col-xs-6">-->
<!--      <select class="form-select custom-select" aria-label="">-->
<!--        <option value="0" class="custom-option">Chọn cây bán hàng</option>-->
<!--        <option value="1" class="custom-option">Cây 1</option>-->
<!--        <option value="2" class="custom-option">Cây 2</option>-->
<!--        <option value="3" class="custom-option">Cây 3</option>-->
<!--      </select>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row mt-3">-->
<!--  <div class="col-md-4 col-xs-12">-->
<!--    <label class="form-label col-form-label">Sản phẩm</label>-->
<!--  </div>-->
<!--  <div class="col-md-4 col-xs-12">-->
<!--    <label class="form-label col-form-label">Giá cả(đ)<span class="required">*</span></label>-->
<!--  </div>-->
<!--  <div class="col-md-4 col-xs-12">-->
<!--    <label class="form-label col-form-label">Số lượng<span class="required">*</span></label>-->
<!--  </div>-->
<!--</div>-->
<!--<form [formGroup]="productForm">-->
<!--  <div formArrayName="productList">-->
<!--    <div class="row mt-3" *ngFor="let product of productForm.get('productList')['controls']; let i = index"-->
<!--         [formGroupName]="i">-->
<!--      <div class="col-md-4 col-xs-12 mt-1">-->
<!--        <input class="form-control" hidden="true">-->
<!--        <input class="form-control" formControlName="productName" id="productName" readonly>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-xs-12  mt-1">-->
<!--        <input class="form-control" formControlName="price" id="price" appNumericCurrency maxlength="7"-->
<!--               [class.is-invalid]="validField(i,'price')">-->
<!--        <div *ngIf="validField(i, 'price')">-->
<!--          <div *ngIf="showError(i, 'price', 'required')" class="error-message">-->
<!--            Giá cả không được để trống.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-xs-12  mt-1">-->
<!--        <input class="form-control" formControlName="quantity" id="quantity" appNumericCurrency maxlength="7"-->
<!--               [class.is-invalid]="validField(i,'quantity')">-->
<!--        <div *ngIf="validField(i, 'quantity')">-->
<!--          <div *ngIf="showError(i, 'quantity', 'required')" class="error-message">-->
<!--            Số lượng không được để trống.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row mt-3">-->
<!--    <div class="col-12 text-center">-->
<!--      <button type="button" class="btn btn-primary-custom" (click)="onUpdateProduct()"><i class="fa fa-save"></i> Cập nhật</button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--  </div>-->


<!--</form>-->
<div [formGroup]="formSearch" class="align-items-center">
  <h4>Quản lý hàng hóa</h4>

  <div class="row mt-3">
    <div class="col-md-2 col-sm-4 col-xs-12">
      <label class="form-label col-form-label"> Tên sản phẩm</label>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-12">
      <app-selection formControlName="productName" [searchable]="true" [multiple]="true"
                     [items]="itemsDefault"></app-selection>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" (click)="onSearch()"><i class="fa fa-search"></i> Tìm kiếm</button>
      <button type="button" class="btn btn-primary-custom ml-20" (click)="onCreate()"><i class="fa fa-plus"></i> Thêm
        mới
      </button>
    </div>
  </div>

  <h5>Danh sách sản phẩm</h5>
  <div class="table-responsive radius-table" style="width: 100%!important;">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Mã hàng hóa</th>
        <th>Tên hàng hóa</th>
        <th>Loại slot</th>
        <th>Hình ảnh</th>
        <th>Giá nhập</th>
        <th>Giá hiển thị</th>
        <th>Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemstable, let index = index">
        <td [width]="'5%'" class="text-center">{{ (index + 1) + (this.currentPage - 1) * this.itemPerPage }}</td>
        <td [width]="'5%'" class="text-center">{{ item.code }}</td>
        <td [width]="'15%'" class="min-width-cl">{{ item.name }}</td>
        <td [width]="'15%'" class="min-width-cl">{{convertType(item.type)}}</td>
        <td [width]="'15%'" class="min-width-cl">
          <img [src]="item.image" alt="" style="width: 100px; height: 100px">
        </td>
        <td [width]="'15%'" class="min-width-cl text-center">{{ item.importedPrice | commaSeparated }}</td>
        <td [width]="'15%'" class="min-width-cl text-center">{{ item.basePrice | commaSeparated }}</td>
        <td [width]="'5%'" class="text-center">
          <a class="cursor-pointer hover-color-red font-size-18 color-black" [cTooltip]="'Chi tiết'"
             (click)="onDetail(item)">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a class="cursor-pointer hover-color-red font-size-18 ml-5 color-black" [cTooltip]="'Xóa'"
            (click)="onDelete(item)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [currentPage]="currentPage" [totalItems]="totalItem" (pageChange)="pageChange($event)"
                  (itemPerPageChange)="itemPerPageChange($event)"></app-pagination>

</div>
