<div [formGroup]="form" class="align-items-center">
  <h4 class="">Quản lý quảng cáo</h4>
  <div class="row mt-3">
    <div class="col-md-2 col-sm-4 col-xs-12">
      <label class="form-label col-form-label"> Tên quảng cáo</label>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-12">
      <app-selection formControlName="name" [searchable]="true"></app-selection>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" (click)="onSearch()"><i class="fa fa-search"></i> Tìm kiếm</button>
      <button type="button" class="btn btn-primary-custom ml-20" (click)="onCreate()"><i class="fa fa-plus"></i> Thêm
        mới
      </button>
    </div>
  </div>

  <h5>Danh sách quảng cáo</h5>
  <div class="table-responsive radius-table" style="width: 100%!important;">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Tên quảng cáo</th>
        <th>Hiệu lực</th>
        <th>Địa điểm</th>
        <th>Tên máy</th>
        <th>Vị trí</th>
        <th>Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemList">
          <td [width]="'5%'" class="text-center">{{ item.id }}</td>
          <td [width]="'5%'" class="text-center">{{ item.id }}</td>
          <td [width]="'30%'" class="min-width-cl">{{ item.lastName }}</td>
          <td [width]="'30%'" class="min-width-cl">{{ item.email }}</td>
          <td [width]="'30%'" class="min-width-cl">{{ item.email }}</td>
          <td [width]="'30%'" class="min-width-cl">{{ item.email }}</td>
          <td [width]="'30%'" class="min-width-cl">{{ item.email }}</td>
        <td [width]="'5%'" class="text-center">
          <a class="cursor-pointer hover-color-red font-size-18 color-black" [cTooltip]="'Chi tiết'" (click)="onDetail(item)">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a class="cursor-pointer hover-color-red font-size-18 ml-5 color-black" [cTooltip]="'Xóa'">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [currentPage]="1" [totalItems]="1000"></app-pagination>


</div>
