<c-row>
  <c-col lg="6">
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Badges</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Bootstrap badge scale to suit the size of the parent element by using relative font
          sizing and <code>em</code> units.
        </p>

        <p class="text-body-secondary small">
          Badges can be used as part of links or buttons to provide a counter.
        </p>

        <p class="text-body-secondary small">
          Remark that depending on how you use them, badges may be complicated for users of
          screen readers and related assistive technologies.
        </p>
        <p class="text-body-secondary small">
          Unless the context is clear, consider including additional context with a visually
          hidden piece of additional text.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col lg="6">
    <c-card class="mb-4">
      <c-card-header >
        <strong>AngularBadges</strong> <small>Contextual variations</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add any of the below-mentioned <code>color</code> props to modify the presentation of
          a badge.
        </p>

      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Badges</strong> <small>Pill badges</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Apply the <code>shape=&#34;rounded-pill&#34;</code> prop to make badges rounded.
        </p>

      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Badges</strong> <small>Positioned</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Use position prop to modify a component and position it in the corner of a link or button.
        </p>

      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header >
        <strong>Angular Badges</strong> <small>Indicator</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          You can also create more generic indicators without a counter using a few more utilities.
        </p>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>

